package com.control.situation.api.impl;

import com.xubei.framework.common.entity.Pager;
import com.xubei.framework.common.entity.ResponseObj;
import com.xubei.framework.util.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RestController;

import lombok.extern.slf4j.Slf4j;

import lombok.RequiredArgsConstructor;

/**
 * 业务逻辑处理类
 *
 * @author:${author}
 * @date:${datetime}
 */
@Slf4j
@RestController
@RequiredArgsConstructor
public class ${table.className}ApiImpl implements ${table.className}Api {

	private final ${table.className}Service ${table.classNameFirstLower}Service;

    @Override
    @ParamLog("新增")
    public ResponseObj save(${table.className} ${table.classNameFirstLower}) {
        try {
            ${table.classNameFirstLower}Service.insert(${table.classNameFirstLower});
        } catch (Exception e) {
            log.error("新增失败：{}", e.getMessage(), e);
            return ResponseObj.EXCEPTION(e, "新增失败");
        }
        return ResponseObj.SUCCESS();
    }

    @Override
    @ParamLog("修改")
    public ResponseObj update(${table.className} ${table.classNameFirstLower}) {
        try {
            ${table.classNameFirstLower}Service.update(${table.classNameFirstLower});
        } catch (Exception e) {
            log.error("修改失败：{}", e.getMessage(), e);
            ResponseObj.EXCEPTION(e, "修改失败");
        }
        return ResponseObj.SUCCESS();
    }

    @Override
    @ParamLog("根据ID查询")
    public ResponseObj<${table.className}> getById(Long id) {
        try {
            return ResponseObj.SUCCESS(${table.classNameFirstLower}Service.getById(id));
        } catch (Exception e) {
            log.error("查询信息失败：{}", e.getMessage(), e);
            return ResponseObj.EXCEPTION(e, "查询信息失败");
        }
    }

	@Override
    @ParamLog("分页查询")
	public ResponseObj<Pager<${table.className}>> page(${table.className}Query query) {
        try {
            return ResponseObj.SUCCESS(BeanUtils.copy(${table.classNameFirstLower}Service.page(query),
                ${table.className}.class));
        } catch (Exception e) {
            log.error("分页查询失败：{}", e.getMessage(), e);
            return ResponseObj.EXCEPTION(e, "分页查询失败");
        }
	}

}
