##实体类代码
package ${table.packageName}.model.entity;

import java.io.Serializable;
import java.math.BigDecimal;
import java.util.Date;

import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;

/**
 * ${table.className} 实体类
 *
 * @author ${author}
 * @date:${datetime}
 */
@Getter
@Setter
@NoArgsConstructor
@ToString(callSuper = true)
public class ${table.className} extends BaseEntity {

	private static final long serialVersionUID = -1L;

#foreach( $tempColumn in $table.columnList)
#if(${tempColumn.fieldName} != 'createUser' && ${tempColumn.fieldName} != 'createTime'
    && ${tempColumn.fieldName} != 'updateUser' && ${tempColumn.fieldName} != 'updateTime')
#if(${tempColumn.columnComment.trim()} != '')
    /**
	 * ${tempColumn.columnComment.trim()}
     */
#end
	private ${tempColumn.fieldType} ${tempColumn.fieldName};

#end
#end
}