##实体类代码
package ${table.packageName}.model.entity;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

import java.io.Serializable;
import java.math.BigDecimal;
import java.util.Date;

import lombok.Getter;
import lombok.NoArgsConstructor;
import lombok.Setter;
import lombok.ToString;

/**
 * ${table.className} 查询参数
 *
 * @author:${author}
 * @date:${datetime}
 */
@Getter
@Setter
@ToString(callSuper = true)
@NoArgsConstructor
@ApiModel("${table.tableComment} 查询参数")
public class ${table.className}QueryDTO extends BaseQueryDTO {

	private static final long serialVersionUID = -1L;

#foreach( $tempColumn in $table.columnList)
#if(${tempColumn.columnComment.trim()} != '')
	@ApiModelProperty(value = "${tempColumn.columnComment.trim()}")
#end
	private ${tempColumn.fieldType} ${tempColumn.fieldName};

#end

}