package ${table.packageName}.mapper;

import com.github.pagehelper.Page;
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Mapper;

import ${table.packageName}.model.query.${table.className}QueryDto;
import ${table.packageName}.model.entity.${table.className};

/**
 * 数据库层
 *
 * @author:${author}
 * @date:${datetime}
 */
@Mapper
public interface ${table.className}Mapper {

    /**
     * 新增
     *
     * @param ${table.classNameFirstLower}
     * @return
     */
    int insert(${table.className} ${table.classNameFirstLower});

    /**
     * 修改
     *
     * @param ${table.classNameFirstLower}
     * @return
     */
    int update(${table.className} ${table.classNameFirstLower});

    /**
     * 根据ID查询
     *
     * @param id
     * @return
     */
	${table.className} getById(Long id);

    /**
     * 列表查询，支持分页
     *
     * @param queryDTO
     * @return
     */
	Page<${table.className}> list(${table.className}QueryDTO queryDTO);

}