package ${table.packageName}.service.impl;

import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import com.xubei.framework.boot.aspect.ParamLog;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;

import lombok.RequiredArgsConstructor;

/**
 * 业务逻辑处理类
 *
 * @author:${author}
 * @date:${datetime}
 */
@Service
@RequiredArgsConstructor
public class ${table.className}ServiceImpl implements ${table.className}Service {

	private final ${table.className}Mapper ${table.classNameFirstLower}Mapper;

    @Override
    @ParamLog("新增")
    public void insert(${table.className} ${table.classNameFirstLower}) {
        ${table.classNameFirstLower}Mapper.insert(${table.classNameFirstLower});
    }

    @Override
    @ParamLog("修改")
    public void update(${table.className} ${table.classNameFirstLower}) {
        ${table.classNameFirstLower}Mapper.update(${table.classNameFirstLower});
    }

	@Override
    @ParamLog("根据ID查询")
	public ${table.className} getById(Long id) {
		return ${table.classNameFirstLower}Mapper.getById(id);
	}

    @Override
    @ParamLog("列表查询")
    public List<${table.className}> list(${table.className}Query query) {
		return ${table.classNameFirstLower}Mapper.list(query);
	}

    @Override
    @ParamLog("分页查询")
    public Page<${table.className}> page(${table.className}Query query) {
        PageHelper.orderBy("create_time desc");
        return PageHelper.startPage(query.getPageIndex(), query.getPageSize())
                .doSelectPage(() -> ${table.classNameFirstLower}Mapper.list(query));
    }

}
