package ${table.packageName}.service;

import com.github.pagehelper.Page;

import java.util.List;

/**
 * 业务逻辑接口
 *
 * @author:${author}
 * @date:${datetime}
 */
public interface ${table.className}Service {

    /**
     * 新增
     *
     * @param ${table.classNameFirstLower}
     * @return
     */
    void insert(${table.className} ${table.classNameFirstLower});

    /**
     * 修改
     *
     * @param ${table.classNameFirstLower}
     * @return
     */
    void update(${table.className} ${table.classNameFirstLower});

    /**
     * 根据ID查询
     *
     * @param id
     * @return
     */
	${table.className} getById(Long id);

    /**
     * 列表查询
     *
     * @param query
     * @return
     */
    List<${table.className}> list(${table.className}Query query);

    /**
     * 分页查询
     *
     * @param query
     * @return
     */
    Page<${table.className}> page(${table.className}Query query);

}
